<section id="Footer">
  <div class="footer">
    <div class="row footer-container">
      <h1>Contact Us</h1>
      <hr>
      <div class="col-lg-4 col-sm-12 our-founder">
        <h4>Jakarta</h4>
        <p><a class="mini-logo" href="https://wa.me/qr/X7GUDT4GZ4Q7H1"><i class="fa-brands fa-whatsapp"></i></a>
          0812-9668-2430</p>
        <p>Muhammad Ridwan</p>
      </div>
      <div class="col-lg-4 col-sm-12 our-founder">
        <h4>Surabaya</h4>
        <p><a class="mini-logo" href="https://wa.me/message/I5T5WM7DD2JNI1"><i class="fa-brands fa-whatsapp"></i></a>
          0812-4068-9060</p>
        <p>Hilmy Muhammad Dzaki</p>
      </div>
      <div class="col-lg-4 col-sm-12 our-founder">
        <h4>Tulungagung</h4>
        <p><a class="mini-logo" href="https://wa.me/qr/TQB3B6ENFVMQL1"><i class="fa-brands fa-whatsapp"></i></a>
          0813-5734-9440</p>
        <p>Sima Nur Abidah</p>
      </div>
    </div>
  </div>
</section>
<footer class="home-footer">
<section id="Footer">
  <div class="footer home-footer">
    <hr>
    <div class="footer-logo">
      <a class="footer-mini-logo" href="https://www.instagram.com/peduli.sekitar/?hl=id" alt="mini-logo"><i class="fa-brands fa-instagram"></i></a>
      <a class="footer-mini-logo" href="mailto:pedulisekitar1@gmail.com" alt="mini-logo"><i class="fa-solid fa-envelope"></i></a>
      <a class="footer-mini-logo line" href="https://page.line.me/?accountId=peduli.sekitar" alt="mini-logo"><i class="fa-brands fa-line"></i></a>
    </div>
    <p class="copyright">© 2022 Copyright wa1TheStudent</p>
  </div>
</section>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
