<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Registration Successful!</title>
  <link rel="icon" href="favicon.ico">

  <!-- BOOTSTRAP -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/046876881a.js" crossorigin="anonymous"></script>


  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&family=Roboto+Slab:wght@500;600&display=swap" rel="stylesheet">
</head>





<body>
  <!-- SUCCESS NOTIFICATION -->

  <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="h-100 p-5 bg-light border rounded-3 success-registration">
            <h2>Registration Successful !!!</h2>
            <p>Click <a href="/">here</a> to be redirected to home page!</p>
          </div>
        </div>

  <!-- FOOTER -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

</html>
